# Midnight Node & Network Configuration
VITE_MIDNIGHT_NETWORK=Preprod
VITE_NODE_URL=https://indexer.preprod.midnight.network/api/v1/graphql
VITE_PROVING_SERVER_URL=http://localhost:6300

# Contract specific (Optional, usually compiled into code)
# VITE_CONTRACT_ADDRESS=b20f8f836047ce33353b13e1e85d8dc95a55f306e876cb7b822bbaad4bb1acf6
